
.intro {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(hug.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 0px 0px;

}



.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body{
    font-size: 18px;
}
.intro-text{
    width: 15em;
    font-size: 1px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    padding: 10px;
    font-size: 15px;
    margin: 15em 20em;

}

@media(max-width:767px) {
    .intro {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 0px 0px;

    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body {
        font-size: 25px;
    }
    .intro-text {
        padding: 10px;
        font-size: 13px;
        margin: 12em 20em;
    }
}

@media(max-width:640px) {
    .intro {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 0px 0px;

    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body {
        font-size: 25px;
    }
    .intro-text {
        padding: 10px;
        font-size: 13px;
        margin: 12em 17em;
    }
}

@media(max-width:480px) {
    .intro {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 0px 0px;

    }

    .intro .intro-body .brand-heading {
        font-size: 100px;

    }

    .intro .intro-body {
        font-size: 25px;

    }
    .intro-text {
        padding: 10px;
        font-size: 13px;
        margin: 12em 10em;
    }
}

@media(max-width:200px) {
    .intro {
    width: 100%;
    height: 100%;
    padding: 0px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    -o-background-size: cover;
    background-position: 0px 0px;

    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body {
        font-size: 25px;
    }
    .intro-text {
        padding: 4px;
        font-size: 7px;
        margin: 13em 5em;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}